@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-cyber-charcoal-950: #07090e;
  --color-cyber-charcoal-900: #0d121c;
  --color-cyber-charcoal-800: #1a2333;
  --color-cyber-emerald: #10b981;
  --color-cyber-amber: #f59e0b;
  --color-cyber-rose: #f43f5e;
}

